
{% load static %}
<!DOCTYPE HTML>
<html>
    <head>

    <!-- General -->
    <link rel="stylesheet" href="{% static 'webix/webix.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'webix/sidebar.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'webix/index.css' %}" type="text/css">
    <script src="{% static 'webix/webix.js' %}" type="text/javascript"></script>
    <script src="{% static 'webix/sidebar.js' %}" type="text/javascript"></script>
    <script src="{% static 'webix/gh-GH.js' %}" type="text/javascript"></script>
    <script src="{% static 'webix/side.js' %}" type="text/javascript"></script>
    <!-- App Specific -->
    <script src="{% static 'stats/js/purchases/pc_logic.js' %}" type="text/javascript"></script>
    <script src="{% static 'stats/js/purchases/cash_pc_periodic.js' %}" type="text/javascript"></script>
    <script src="{% static 'stats/js/purchases/cash_pr_periodic.js' %}" type="text/javascript"></script>
    <script src="{% static 'stats/js/purchases/credit_pc_periodic.js' %}" type="text/javascript"></script>
    <script src="{% static 'stats/js/purchases/credit_pr_periodic.js' %}" type="text/javascript"></script>
    <script src="{% static 'stats/js/purchases/cash_pc_categoric.js' %}" type="text/javascript"></script>
    <script src="{% static 'stats/js/purchases/credit_pc_categoric.js' %}" type="text/javascript"></script>
    <script src="{% static 'stats/js/purchases/cash_pr_categoric.js' %}" type="text/javascript"></script>
    <script src="{% static 'stats/js/purchases/credit_pr_categoric.js' %}" type="text/javascript"></script>
    <script src="{% static 'stats/js/purchases/cash_pc.js' %}" type="text/javascript"></script>
    <script src="{% static 'stats/js/purchases/credit_pc.js' %}" type="text/javascript"></script>
    <script src="{% static 'stats/js/purchases/cash_pr.js' %}" type="text/javascript"></script>
    <script src="{% static 'stats/js/purchases/credit_pr.js' %}" type="text/javascript"></script>
    <script src="{% static 'stats/js/purchases/pc.js' %}" type="text/javascript"></script>

    </head>
    <body>

    </body>
</html>
