{% load static %}
<!DOCTYPE HTML>
<html>
    <head>

    <!-- General -->
    <link rel="stylesheet" href="{% static 'webix/webix.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'webix/sidebar.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'webix/index.css' %}" type="text/css">
    <script src="{% static 'webix/webix.js' %}" type="text/javascript"></script>
    <script src="{% static 'webix/sidebar.js' %}" type="text/javascript"></script>
    <script src="{% static 'webix/gh-GH.js' %}" type="text/javascript"></script>
    <script src="{% static 'webix/side.js' %}" type="text/javascript"></script>
    <!-- App Specific -->
    <script src="{% static 'stats/js/sales/sales_logic.js' %}" type="text/javascript"></script>
    <script src="{% static 'stats/js/sales/cash_sales_periodic.js' %}" type="text/javascript"></script>
    <script src="{% static 'stats/js/sales/credit_sales_periodic.js' %}" type="text/javascript"></script>
    <script src="{% static 'stats/js/sales/cash_sr_periodic.js' %}" type="text/javascript"></script>
    <script src="{% static 'stats/js/sales/credit_sr_periodic.js' %}" type="text/javascript"></script>
    <script src="{% static 'stats/js/sales/cash_sales_categoric.js' %}" type="text/javascript"></script>
    <script src="{% static 'stats/js/sales/credit_sales_categoric.js' %}" type="text/javascript"></script>
    <script src="{% static 'stats/js/sales/cash_sr_categoric.js' %}" type="text/javascript"></script>
    <script src="{% static 'stats/js/sales/credit_sr_categoric.js' %}" type="text/javascript"></script>
    <script src="{% static 'stats/js/sales/cash_sales.js' %}" type="text/javascript"></script>
    <script src="{% static 'stats/js/sales/credit_sales.js' %}" type="text/javascript"></script>
    <script src="{% static 'stats/js/sales/credit_sr.js' %}" type="text/javascript"></script>
    <script src="{% static 'stats/js/sales/cash_sr.js' %}" type="text/javascript"></script>
    <script src="{% static 'stats/js/sales/sales.js' %}" type="text/javascript"></script>
    </head>
    <body>

    </body>
</html>
